@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

#root {
  height: 100%;
}

:root {
  line-height: 1.5;

  color-scheme: light dark;
  font-family: nunito;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #111;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

body {
  height: 100vh;
  color: #fff;
  font-family: nunito !important;
  font-weight: 400;
  font-size: 14px;
}

.loader {
  display: flex;
  place-content: center;
  position: absolute;
  top: 5%;
  left: 45%;
  z-index: 2;
  background-color: white;
  padding: 10px 20px;
  align-items: center;
  font-size: 18px;
  gap: 10px;
  border-radius: 6px;
  color: #111;
}

.Toastify__toast-body div {
  font-family: nunito !important;
  font-size: 12px !important;
}
